body{
    font-family: "Poppins SemiBold", "Poppins", sans-serif;
    margin: 0;
    background-color: whitesmoke;
    overflow-x: hidden;
}

header{
    height: 80px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 10px 1px #2d2e83;
    background-color: white;
    font-family:"Poppins SemiBold", "Poppins", sans-serif;
    font-size: 16px;
}

.noticias{
    font-family:"Poppins SemiBold", "Poppins", sans-serif;
    text-align: center;
    margin-top: 5%;
    margin-left: -70%;
      
    }

.menuConteiner{
    display: flex;
    justify-content: space-between;
    align-self: center;
    height: 80px;
    width: 100vw;
    padding-inline: 70px;
}

.menuConteiner .parte1{
    display: flex;
    align-items: center;
    gap: 24px;
}

ul{
    display: flex;
    list-style: none;
    gap: 55px;
    align-items: center;

}

.login-btn button{
    border: none;
    background-color: #FFD700;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 15px;
    margin-top: 25px;
}

.leaderboard{
    max-width: 55em;
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding: 1em;
    padding-top: 6em;
}

.theme-img{
    width: 20em;
    border-radius: 10px;
}

.description{
    display:inline-block;
    font-size: 16px;
    text-align: center;
    margin: 1em;
    color: black;
    transform: translateY(-5em);
}

.search{
    border-radius: 5px;
    border: none;
    background-color: transparent;
    border-bottom: #2d2e83 2px solid;
    padding: .5em;
    font-size: 1em;
    color: black;

}

.search:focus{
    outline: none;
}

table{
    margin-top: 2em;
    width: 50em;
    color: black;
    margin-right: auto;
    margin-left: auto;
}

table thead{
    opacity: .8;
}

table img{
    width: 2em;
    height: 2em;
    border-radius: 100%;
    align-items: left;
}

table td{
    max-width: 2em;
    padding: .5em;
    text-align: center;
}

tbody tr{
    box-shadow: 0 2px #2d2e83;
    border-radius:10px;
}

tbody tr:hover{
    transform: scale(1.025);
    transition: .2s ease-in-out;
}

table td:nth-child(2) p{
    display: inline-block;
    transform: translateY(-.5em);
    padding-left: .5em;
    text-align: left;
}

table td:nth-child(2){
    max-width: 5em;
}

tbody tr:nth-child(even){
    background-color: whitesmoke;
}

#winner{
    color: gold;
    font-weight: 800;
}
#winner2{
    color: silver;
    font-weight: 800;
}
#winner3{
    color: #cd7f32;
    font-weight: 800;
}
#winner4{
    color: black;
    font-weight: 800;
}
#winner5{
    color: black;
    font-weight: 800;
}
#winner6{
    color: black;
    font-weight: 800;
}

.footer {
    background-color: #2d2e83;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}


@media(max-width:860px){
    .leaderboard{
        padding: 0;
    }
    .theme-img{
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
    .description{
        display: block;
        transform: translateY(0);
    }
    table{
        max-width: 100vw;
        overflow: scroll;
    }
}